/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.inputfield{

}

.main_nav{
  width: 35%;
  margin: auto;
}

.navbar-brand{

}

.name_column{

}

.jumbotron_filter{
  margin-top:6% ;
}

.jumbotron{
  border-radius: 6px;
}

.add_form_jumbotron{
  margin-top: 15%;
}

.selected_person{
  color: saddlebrown;
}
body{
  background-color: #485563;
}

.container h2{
  color: #fff;
}